MYSQL_DATABASE=steam_pipeline
MYSQL_ROOT_PASSWORD=password

PIPELINE_DB_USER=steam_pipeline
PIPELINE_DB_PASSWORD=password

DASHBOARD_DB_USER=steam_dashboard
DASHBOARD_DB_PASSWORD=password

STEAMSPY_MODE=all
STEAMSPY_PAGE=0