MYSQL_DATABASE=steam_pipeline
MYSQL_ROOT_PASSWORD=password

PIPELINE_DB_USER=steam_pipeline
PIPELINE_DB_PASSWORD=password

DASHBOARD_DB_USER=steam_dashboard
DASHBOARD_DB_PASSWORD=password

STEAMSPY_MODE=all
STEAMSPY_PAGE=0
STEAM_TRACKED_APPIDS=730,427520,620

PIPELINE_TIMEZONE=Europe/Prague
PIPELINE_RUN_HOUR=20
PIPELINE_RUN_MINUTE=0
PIPELINE_RUN_ON_STARTUP=false
